$baseline: 1.5rem;

$background:#202227;
$color:#ddd;

$links: #949eff;
$hover-links:#949eff;
$visited-links:#949eff;

$font-size: 0.93rem;
$font-family: Segoe UI,system-ui,-apple-system,sans-serif;
$line-height: 1.75;
$code_font: 400 0.93rem/0.9 SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;