{% macro docs_sidebar() %}
<aside class="docs-sidebar">
  <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="docsSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">{{ trans(key="label_sidebar_title", lang=lang) }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
        data-bs-target="#docsSidebar"></button>
    </div>

    <div class="offcanvas-body">
      <nav class="docs-links w-100" id="docs-nav" aria-label="Docs navigation">
        <nav class="docs-links" role="navigation">
          <ul class="docs-link-nav list-unstyled">
            {% if lang == config.default_language %}
              {% set root_section_path = "_index.md" %}
            {% else %}
              {% set root_section_path = "_index." ~ lang ~ ".md" %}
            {% endif %}
            {% set index = get_section(path=root_section_path) %}

            {% for s in index.subsections %}
              {% set subsection = get_section(path=s) %}
              <li>
                <strong class="docs-links-heading">
                  {% if subsection.extra.sidebar.linkable %}
                    <a href="{{ subsection.permalink }}"
                      class="docs-link {% if current_path == subsection.path %}active{% endif %}">
                      {{ subsection.extra.sidebar.title | default(value=subsection.title) }}
                    </a>
                  {% else %}
                    {{ subsection.title }}
                  {% endif %}
                </strong>
                {% if subsection.pages %}
                  <ul class="list-unstyled pb-2">
                    {% for p in subsection.pages %}
                      <li>
                        <a href="{{ p.permalink }}" class="docs-links-link {% if current_path == p.path %}active{% endif %}">
                          {{ p.extra.sidebar.title | default(value=p.title) }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
      </nav>
    </div>
  </div>
</aside>
{% endmacro %}
