{% macro docs_sidebar() %}
<aside class="docs-sidebar">
  <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="docsSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">{{ trans(key="label_sidebar_title", lang=lang) }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
        data-bs-target="#docsSidebar"></button>
    </div>

    <div class="offcanvas-body">
      <nav class="docs-links w-100" id="docs-nav" aria-label="Docs navigation">
        <nav class="docs-links" role="navigation">
          <ul class="docs-link-nav list-unstyled">
            {% if lang == config.default_language %}
              {% set root_section_path = "_index.md" %}
            {% else %}
              {% set root_section_path = "_index." ~ lang ~ ".md" %}
            {% endif %}
            {% set index = get_section(path=root_section_path) %}

            {% for l1_relative_path in index.subsections %}
              {% set l1_subsection = get_section(path=l1_relative_path) %}
              <li>
                <strong class="docs-links-heading">
                  {% if l1_subsection.extra.sidebar.linkable %}
                    <a href="{{ l1_subsection.permalink }}"
                      class="docs-link {% if current_path is starting_with(l1_subsection.path) %}active{% endif %}">
                      {{ l1_subsection.extra.sidebar.title | default(value=l1_subsection.title) }}
                    </a>
                  {% else %}
                    {{ l1_subsection.title }}
                  {% endif %}
                </strong>

                {% if l1_subsection.subsections %}
                <ul class="list-unstyled pb-2">
                  {% for l2_relative_path in l1_subsection.subsections %}
                  {% set l2_subsection = get_section(path=l2_relative_path) %}
                    <li>
                      <a href="{{ l2_subsection.permalink }}" class="docs-links-link {% if current_path is starting_with(l2_subsection.path) %}active{% endif %}">
                        {{ l2_subsection.extra.sidebar.title | default(value=l2_subsection.title) }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% if l1_subsection.pages %}
                  <ul class="list-unstyled pb-2">
                    {% for p in l1_subsection.pages %}
                      <li>
                        <a href="{{ p.permalink }}" class="docs-links-link {% if current_path == p.path %}active{% endif %}">
                          {{ p.extra.sidebar.title | default(value=p.title) }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
      </nav>
    </div>
  </div>
</aside>
{% endmacro %}
