{% macro page(page) %}
<div class="docs-navigation d-flex justify-content-between">
  {% if page.lower %}
    {% set lower = page.lower %}
  {% else %}
      {# No page before, find the link for the section it's in if there is one #}
      {% set lower = get_section(path=page.ancestors | reverse | first) %}
  {% endif %}

  {% if lower %}
  <a href="{{ lower.permalink }}">
    <div class="card my-1">
      <div class="card-body py-2">
        &larr; {{ lower.title }}
      </div>
    </div>
  </a>
  {% endif %}

  {% if page.higher %}
  <a class="ms-auto" href="{{ page.higher.permalink }}">
    <div class="card my-1">
      <div class="card-body py-2">
        {{ page.higher.title }} &rarr;
      </div>
    </div>
  </a>
  {% else %}
      {# No page after, find the link for the following section #}
      {% set index = get_section(path="_index.md") %}
      {% set found_current = false %}
      {% for s in index.subsections %}
          {% set subsection = get_section(path=s) %}
          {% if found_current %}
          <a class="ms-auto" href="{{ subsection.permalink }}">
            <div class="card my-1">
              <div class="card-body py-2">
                {{ subsection.title }} &rarr;
              </div>
            </div>
          </a>
            {# no break #}
            {% set_global found_current = false %}
          {% endif %}
          {% for p in subsection.pages %}
              {% if p.permalink == page.permalink %}
                  {% set_global found_current = true %}
              {% endif %}
          {% endfor %}
      {% endfor %}
  {% endif %}
</div>
{% endmacro %}

{% macro section(section) %}
<div class="docs-navigation d-flex justify-content-between">
  {# need to find the last page of the previous section or the previous section directly
  if there isn't any pages in it #}
  {% set index = get_section(path="_index.md") %}
  {% set found_current = false %}
  {% for s in index.subsections | reverse %}
      {% set subsection = get_section(path=s) %}
      {% if subsection.permalink == section.permalink %}
          {% set_global found_current = true %}
      {% else %}
          {% if found_current %}
              {% if subsection.pages %}
                  {% set lower = subsection.pages | last %}
              {% else %}
                  {% set lower = subsection %}
              {% endif %}

              <a href="{{ lower.permalink }}">
                <div class="card my-1">
                  <div class="card-body py-2">
                    &larr; {{ lower.title }}
                  </div>
                </div>
              </a>
              {# no break #}
              {% set_global found_current = false %}
          {% endif %}
      {% endif %}
  {% endfor %}

  {% if section.pages %}
  {% set higher = section.pages | first %}
    <a class="ms-auto" href="{{ higher.permalink }}">
      <div class="card my-1">
        <div class="card-body py-2">
          {{ higher.title }} &rarr;
        </div>
      </div>
    </a>
  {% else %}
    {# No page in the section, find the link for the following section #}
    {% set index = get_section(path="_index.md") %}
    {% set found_current = false %}
    {% for s in index.subsections %}
        {% set subsection = get_section(path=s) %}
        {% if found_current %}
            <a class="ms-auto" href="{{ subsection.permalink }}">
              <div class="card my-1">
                <div class="card-body py-2">
                  {{ subsection.title }} &rarr;
                </div>
              </div>
            </a>
            {# no break #}
            {% set_global found_current = false %}
        {% endif %}
        {% if subsection.permalink == section.permalink %}
            {% set_global found_current = true %}
        {% endif %}
    {% endfor %}
  {% endif %}
</div>
{% endmacro %}