{% macro docs_toc(page) %}

{% if page.extra.toc is defined %}
	{% set toc = page.extra.toc %}
{% else %}
	{% set toc = config.extra.toc %}
{% endif %}

{% if toc and page.toc %}
<div class="docs-toc mt-3 my-lg-0 ps-xl-3 mb-lg-5 text-muted">
	<button class="btn btn-link link-dark p-md-0 mb-2 mb-md-0 text-decoration-none docs-toc-toggle d-md-none"
		type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false"
		aria-controls="tocContents">
		On this page
		<svg class="bi d-md-none ms-2" aria-hidden="true">
			<path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"></path>
		</svg>
	</button>
	<strong class="d-none d-md-block h6 my-2">On this page</strong>
	<hr class="d-none d-md-block my-2">
	<div class="collapse docs-toc-collapse" id="tocContents">
		<nav id="TableOfContents">
			<ul>
				{% for h1 in page.toc %}
				<li><a href="{{ h1.permalink | safe}}">{{ h1.title }}</a></li>
				{% if h1.children %}
				<ul>
					{% for h2 in h1.children %}
					<li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
{% endif %}

{% endmacro %}