{% macro header() %}
<div class="header-bar fixed-top"></div>
<header class="navbar docs-navbar fixed-top navbar-expand-lg navbar-light">
	<div class="container">
		<div class="docs-navbar-toggle order-0">
			<button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#docsSidebar"
				aria-controls="docsSidebar" aria-label="Toggle docs navigation">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor"
					viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
					</path>
				</svg>

				<span class="d-none fs-6 pe-1">Browse</span>
			</button>
		</div>
		<a class="navbar-brand order-1 order-md-0 me-auto" href="{{ get_url(path="@/_index.md", lang=lang) }}">{{ config.title | default(value="Doks") }}</a>

		<input class="menu-btn order-4" type="checkbox" id="menu-btn">
		{% if config.build_search_index %}
			<label class="menu-icon d-lg-none order-3" for="menu-btn">
				<svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20"><path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
			</label>
		{% endif %}
		<ul class="navbar-nav fork-me order-3 order-md-5">
			{% if config.extra.menu.social %}
				{% for val in config.extra.menu.social %}
					<li class="nav-item">
						<a class="nav-link" href="{{ val.url | safe }}">{{ val.pre | safe }}<span class="ms-2 visually-hidden">{{ val.name }}</span></a>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
		<div class="collapse navbar-collapse order-4 order-md-1">
			<div class="break order-6 d-md-none"></div>
			{% if config.build_search_index %}
				<form class="navbar-form flex-grow-1 order-7 order-md-3">
					<input id="userinput" class="form-control is-search" type="search" placeholder="{{ trans(key="search_placeholder", lang=lang) }}"
						aria-label="{{ trans(key="search_placeholder", lang=lang) }}" autocomplete="off">
					<div id="suggestions" class="shadow bg-white rounded"></div>
				</form>
			{% endif %}
			</div>

			<ul class="navbar-nav main-nav me-auto order-5 order-md-2">
				<li class="nav-item dropdown">
					<a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<svg viewBox="0 0 24 24" width="20" height="20" aria-hidden="true" class="iconLanguage_nlXk"><path fill="currentColor" d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"></path></svg>
						{{ trans(key="label_" ~ lang) }}
					</a>

					<ul class="dropdown-menu">
						{#- Display the current language first in the dropdown -#}
						<li><span class="dropdown-item active">{{ trans(key="label_" ~ lang) }}</span></li>

						{#- Loop through all the available languages in the config -#}
						{%- for lcode, ldetails in config.languages -%}
							{#- Skip the current language to avoid linking to the current page -#}
							{%- if lang == lcode -%}
								{%- continue -%}
							{%- endif -%}

							{#- Use the loaded language strings to get the language name -#}
							{% set language_name = "label_" ~ lcode %}

							{#- Check if the language code matches the default language -#}
							{%- if lcode == config.default_language -%}
								{#- If it does, link to the root path (no language code in URL) -#}
								<li><a class="dropdown-item" href="{{ current_url | replace(from='/' ~ lang ~ '/', to = '/') }}">{{ trans(key=language_name) }}</a></li>
								{#- Check if the current language is the default language -#}
								{#- If it is, append the language code to the base URL -#}
							{%- elif lang == config.default_language -%}
								<li><a class="dropdown-item" href="{{ config.base_url }}/{{ lcode }}{{ current_path | default(value=" /") | safe }}">{{ trans(key=language_name) }}</a></li>
							{%- else -%}
								{#- If it's not, replace the current language code in the URL with the new one -#}
								<li><a class="dropdown-item" href="{{ current_url | replace(from='/' ~ lang ~ '/', to='/' ~ lcode ~ '/') }}">{{ trans(key=language_name) }}</a></li>
							{%- endif -%}
						{%- endfor -%}
					</ul>
				</li>
			</ul>
	</div>
</header>
{% endmacro %}
