{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block header %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
{{ macros_sidebar::docs_sidebar() }}

<main class="docs-main order-1">
  <div class="docs-intro pt-2 ps-lg-2">
    <h1 class="docs-title mb-0" id="content">{{ section.title }}</h1>
    {% if section.description %}<p class="text-muted">{{ section.description | safe }}</p>{% endif %}
  </div>

  {{ macros_toc::docs_toc(page=section) }}
  
    <div class="docs-content ps-lg-2">
      {{ section.content | safe }}
    </div>
</main>
{% endblock content %}
