{# Default page.html template #}

{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title_addition = "" %}
  {% if page.title and config.title %}
    {% set title = page.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif page.title %}
    {% set title = page.title %}
  {% else %}
    {% set title = config.title %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
  {% if current_section %}
    {% set page_section = current_section %}
  {% else %}
    {% set page_section = "" %}
  {% endif %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, type="article", is_page=true, page_section=page_section) }}
{% endblock seo %}

{% block header %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block body %}
  {% if section.extra.class %}
    {% set page_class = page.extra.class %}
  {% else %}
    {% set page_class = "page single" %}
  {% endif %}
{% endblock body %}

{% block content %}
	{{ macros_sidebar::docs_sidebar() }}

  <main class="docs-main order-1">
    <div class="docs-intro pt-2 ps-lg-2">
      <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
        {% if config.extra.edit_page %}
        {{ macros_edit_page::docs_edit_page(current_path=current_path) }}
      {% endif %}
        <h1 class="docs-title mb-0" id="content">{{ page.title }}</h1>
      </div>
      {% if page.description %}<p class="text-muted mb-0">{{ page.description | safe }}</p>{% endif %}
    </div>

    {{ macros_toc::docs_toc(page=page) }}
    
      <div class="docs-content ps-lg-2">
        {{ page.content | safe }}
      </div>
      {{ macros_navigation::page(page=page) }}
  </main>
{% endblock content %}
