{# Default section.html template #}

{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title_addition = "" %}

  {% if section.title and config.title %}
    {% set title = section.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif section.title %}
    {% set title = section.title %}
  {% else %}
    {% set title = config.title %}
  {% endif %}

  {% if section.description %}
    {% set description = section.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}

  {{ macros_head::seo(title=title, title_addition=title_addition, description=description) }}
{% endblock seo %}

{% block header %}
  {{ macros_header::header()}}
{% endblock header %}

{% block body %}
  {% if section.extra.class %}
    {% set page_class = section.extra.class %}
  {% else %}
    {% set page_class = "page list" %}
  {% endif %}
{% endblock body %}

{% block content %}
{{ macros_sidebar::docs_sidebar() }}

<main class="docs-main order-1">
  <div class="docs-intro pt-2 ps-lg-2">
    <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
      {% if config.extra.edit_page %}
      {{ macros_edit_page::docs_edit_page(current_path=current_path) }}
    {% endif %}
      <h1 class="docs-title mb-0" id="content">{{ section.title }}</h1>
    </div>
    {% if section.description %}<p class="text-muted mb-0">{{ section.description | safe }}</p>{% endif %}
  </div>

  {{ macros_toc::docs_toc(page=section) }}

  <div class="docs-content ps-lg-2">
    {{ section.content | safe }}

    {% set listing = config.extra.listing %}
    {% if section.extra.listing is defined %}
      {% set listing =  section.extra.listing %}
    {% endif %}

    {% if listing %}
      <div class="card-list">
        {% set index = get_section(path=section.relative_path) %}

        {% for s in index.subsections %}
          {% set subsection = get_section(path=s) %}
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">
                <a class="stretched-link" href="{{ subsection.permalink }}">{{ subsection.title }} &rarr;</a>
              </h5>
              {% if subsection.description %}<p class="card-text text-muted">{{ subsection.description | safe }}</p>{% endif %}
            </div>
          </div>
        {% endfor %}

        {% for page in index.pages %}
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">
                <a class="stretched-link" href="{{ page.permalink }}">{{ page.title }} &rarr;</a>
              </h5>
              {% if page.description %}<p class="card-text text-muted">{{ page.description | safe }}</p>{% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {{ macros_navigation::section(section=section) }}
</main>
{% endblock content %}
